body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
   margin: 0;
   padding: 0;
}

header, footer {
   background-color: #333;
   color: #fff;
   padding: 10px;
   text-align: center;
}

main {
   padding: 20px;
}

button {
   padding: 5px 10px;
   margin-bottom: 10px;
   cursor: pointer;
}

.answer {
   display: none;
   color: green;
   font-weight: bold;
} 
